.nav_bar {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color: rgb(207, 224, 232);
    width: 100%;
    padding: 10px 0;
  }
  
  .logo {
    font-weight: 600;
    font-size: large;
  }
  
  .space {
    width: 860px;
  }
  
  .search_btn {
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    border: none;
  }
  
  .search_btn:hover {
    color: #0d6efd;
  }
  
  .search_input {
    height: 30px;
    border-radius: 5px;
    border: none;
  }
  
  .sign-up {
    padding-left: 40px;
  }
  
  .sign-up:hover {
    color: #0d6efd;
    cursor: pointer;
  }
  
  .sign {
      text-decoration: none;
      color: black;
  }
  
  .login {
    padding-left: 40px;
  }
  
  .login:hover {
    color: #0d6efd;
    cursor: pointer;
  }
  
  .fa-user-plus {
    margin-right: 10px;
  }
  
  .fa-sign-in {
    margin-right: 10px;
  }

.streams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 10px;
    border-radius: 5%;
  }

  .card {
    margin-top: 15px;
    margin-left: 50px;
  }
  
  .courses {
    justify-content: center;
    margin-left: -50px;
    flex-wrap: wrap;
  }

  .footer {
    background-color: rgb(207, 224, 232);
    margin-top: 50px;
    padding: 50px 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .container {
    margin: auto;
  }
  ul {
    list-style: none;
  }
  
  .footer-col h5 {
    text-transform: capitalize;
    margin: 30px;
  }
  
  .footer-col h5::before {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    display: block;
  }
  
  .footer-col li {
    cursor: pointer;
  }
  
  .footer-col ul li a:hover {
    padding-left: 10px;
  }
  
  .footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(207, 224, 232);
    margin-right: 0 10px 10px 0;
    border-radius: 50%;
    font-weight: 500;
    font-size: large;
  }
  